body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c4c4c4;
  background-image: url("blurred.jpg");
}

.welcome-message {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
}

.container {
 
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(255, 255, 255,0.1);
  border-radius: 30px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 40px rgba (8,7,16,0.6);
}


header {
  text-align: center;
}

form {
  padding: 20px;
}

.form-row {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
}


input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: Arial, sans-serif; 
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #32b353;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2dd758;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


li {
  background-color: rgb(255, 255, 255,0.6);
   backdrop-filter: blur(30px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
}

.task-content {
  flex-grow: 1;
}

.task-image {
  flex-shrink: 0;
  margin-left: 1px;
  width: 80px;
  height: 80px;
}

.task-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80%;
}

li:hover {
  background-color: #c7c7c7;
}

h1,
label,
h2,
.welcome-message {
  color: #ffffff;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 10px;
}
h2 {
  color: #ffffff;
  margin-left: 1px; 
}
ul#tasklist {
  margin-left: 2px; 
}

.task-genre {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.task-genre p {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
li button:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.task-info h3,
.task-info p {
  font-family: "Roboto Condensed", sans-serif;
}
.saved-movies-title {
  font-family: "Roboto Condensed", sans-serif;
}

